/*kaikkien nappien vakio ulkonäkö*/
button {
  font-family: Arial, Helvetica, sans-serif; 
  line-height: 4;                 
  font-size: 20px;                
  font-weight: bold;              
  bottom: 5%;              
  width: 5%;                      
  padding: 10px;                  
  text-align: center;            
  text-decoration: none;         
  text-transform: uppercase;     
  color: #28282f;               
  border-radius: 10px;            
  cursor: pointer;                
  position: absolute;
  transition: box-shadow 0.3s;    
}

/* pieni varjo napille hoveroidessa */
button:hover {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15); 
}

/*tekstin vakio ulkonäkö*/
body{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(100, 189, 248);
  font-family: Arial, Helvetica, sans-serif;
}

 /*määritellään jokaiselle napille oma id jotta voidaa yksilöidä aktivoitu nappi*/
#btn1{
  left: 6%;
  background: #eeeee8;
  box-shadow: 0 8px 10px rgb(100, 189, 248);          
}
#btn2{
  left: 13%;
  background: #eeeee8;           
}
#btn3{
  left: 20%;
  background: #eeeee8;          
}
#btn4{
  left: 27%;
  background: #eeeee8;          
}
#btn5{
  left: 34%;
  background: #eeeee8;          
}
#btn6{
  left: 41%;
  background: #eeeee8;          
}
#btn7{
  left: 48%;
  background: #eeeee8;          
}
#btn8{
  left: 55%;
  background: #eeeee8;          
}
#btn9{
  left: 62%;
  background: #eeeee8;          
}
#btn10{
  left: 69%;
  background: #eeeee8;          
}
#btn11{
  left: 76%;
  background: #eeeee8;          
}
#btn12{
  left: 83%;
  background: #eeeee8;          
}
#btn13{
  left: 90%;
  background: #eeeee8;          
}

/*määritellään kuva-alueen ulkonäkö ja sijainti*/
#kuva-alue img{
    width: 400px;
    height: 300px;
    top: 8%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3)
}

/*määritellään otsikkotekstin ulkonäkö ja sijainti*/
#Otsikkoteksti {
  position: absolute;
  text-align: center;
  margin-top: 1000px;
  width: 250px;
  height: 40px;
  background-color:rgb(100, 189, 248);
  font-size: 35px;
  font-weight:bolder;
  color: #eeeee8;
  padding: 20px;
  text-shadow: 0 5px 20px rgba(0, 0, 0, 0.521)
}

/*määritellään sisältötekstin ulkonäkö ja sijainti*/
#Sisältöteksti {
  position: absolute;
  text-align: center;
  margin-top: 1200px;
  width: 400px;
  height: auto;
  background-color: #eeeee8;
  font-size: 20px;
  font-weight:500;
  color: #000000;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15)
}
